*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    overflow-x: hidden;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
header, footer{
    background-color: rgb(18, 18, 138);
    color: white;
    padding-top: 14px;
    
}

header > .container,
footer > .container{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
}


nav{
    background-color: rgb(99, 75, 238);
    padding: 16px  0;
    display: none;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a{
    text-decoration: none;
    color: white;
}

.menuHamburguer{
    width: 32px;
    cursor: pointer;
}

.menuHamburguer span{
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}

.container-flex{
    display: flex;
}

#sobreNos img{
    max-width: 400px;
    margin-right: 24px;
}

section{
    padding: 48px 0;
}

section h2{
    margin-bottom: 16px;
}

.lista-veiculos{
    flex-wrap: wrap;
}

.lista-veiculos li{
    list-style: none;
    max-width: 30%;
    margin-bottom: 28px;
}


.lista-veiculos li img{
    max-width: 100%;
}

.lista-veiculos li h3{
    margin: 16px 0;
}

.itemCentral{
    margin: 0 5%;
}

.lista-veiculos li button{
    display: block;
    background-color: rgb(12, 176, 78);
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.lista-veiculos li button:hover{
    background-color: rgb(6, 107, 46);
}

.price, strong{
    display: block;
    margin: 13px 0;
}

.lista-veiculos li del{
    color: gray;
    font-size: 14px;
}

.formCampo label{
    display: block;
    font-weight: bold;
}

.formCampo input,
.formCampo textarea{
    display: block;
    width: 100%;
    padding: 8px;  
}

.formCampo textarea{
    resize: none;
    height: 120px;
}

form button{
    display: block;
    background-color: rgb(12, 176, 78);
    color: white;
    padding: 8px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    max-width: 120px;
}

form button:hover{
    background-color: rgb(6, 107, 46);
}

form{
    max-width: 360px;
}

footer .container li{
    list-style: none;
    margin-left: 16px;
}

footer .container img{
    height: 30px;
}

