*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

html{
    overflow-x: hidden;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: rgb(18, 18, 138);
    color: white;
    padding-top: 14px;
    
}

header > .container{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;
}


nav{
    background-color: rgb(99, 75, 238);
    padding: 16px  0;
    display: none;
}

nav li{
    list-style: none;
    display: inline;
    margin-right: 16px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

nav li a{
    text-decoration: none;
    color: white;
}

.menuHamburguer{
    width: 32px;
    cursor: pointer;
}

.menuHamburguer span{
    height: 2px;
    width: 100%;
    background-color: white;
    display: block;
    margin-bottom: 4px;
}

.container-flex{
    display: flex;
}

#sobreNos img{
    max-width: 400px;
    margin-right: 24px;
}

section{
    padding: 48px 0;
}

section h2{
    margin-bottom: 16px;
}

.lista-veiculos li{
    list-style: none;
    max-width: 30%;
}


.lista-veiculos img{
    max-width: 100%;
}

.lista-veiculos h3{
    margin: 16px 0;
}